include LICENSE
include README.md
include pypi_requirements.txt
include setup.py
include nanohunter/__init__.py
include nanohunter/__main__.py
include nanohunter/assign_bc.py
include nanohunter/cluster_umi.py
include nanohunter/collect_candidate_bc.py
include nanohunter/main.py
include nanohunter/allele_specific_splicing.py
include nanohunter/bulk_allele_specific_splicing.py
include nanohunter/cell_type_specific_splicing.py
include nanohunter/gene_with_gwas_disease.py
include nanohunter/make_expression_matrix.py
include nanohunter/matrix_to_clu_wise_expression.py
include nanohunter/split_bam_by_cluster.py
include nanohunter/parameter.py
include nanohunter/parse_quant_file.py
include nanohunter/seq_utils.py
include nanohunter/utils.py