include LICENSE
include README.md
include pypi_requirements.txt
include setup.py
include scCirRL/__init__.py
include scCirRL/__main__.py
include scCirRL/assign_bc.py
include scCirRL/cluster_umi.py
include scCirRL/collect_candidate_bc.py
include scCirRL/main.py
include scCirRL/allele_specific_splicing.py
include scCirRL/bulk_allele_specific_splicing.py
include scCirRL/cell_type_specific_splicing.py
include scCirRL/gene_with_gwas_disease.py
include scCirRL/make_expression_matrix.py
include scCirRL/matrix_to_clu_wise_expression.py
include scCirRL/split_bam_by_cluster.py
include scCirRL/parameter.py
include scCirRL/parse_quant_file.py
include scCirRL/seq_utils.py
include scCirRL/utils.py